.section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 10px 10px 25px;
  border: 1px solid #00000033;
}
.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sectionTitle {
  font-family: "YekanBakhMedium";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.editButton {
  display: flex;
  gap: 10px;
  color: #009eca;
  font-family: "YekanBakhMedium";
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  border: none;
  background: none;
}
.infoGrid {
  display: grid;
  gap: 16px;
}

.viewGrid {
  grid-template-columns: repeat(2, 1fr);
}

.editGrid {
  grid-template-columns: repeat(3, 1fr);
}

.infoField {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  border: 1px solid #00000080;
  border-radius: 5px;
  font-family: "YekanBakhMedium";
  font-weight: 400;
  font-size: 14px;
  color: #00000080;
  background-color: #ffffff;
  box-sizing: border-box;
  outline: none;
}

.error {
  font-family: "Vazirmatn-Regular";
  font-weight: 400;
  color: #e53e3e;
  font-size: 11px;
  position: absolute;
  bottom: -18px;
  right: 4px;
  white-space: nowrap;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-top: 8px;
  border-top: 1px solid #00000033;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
}

.saveButton,
.cancelButton {
  width: 144px;
  height: 41px;
  padding: 10px 24px;
  border-radius: 5px;
  font-family: "YekanBakhMedium";
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
}

.saveButton {
  background-color: #28a745;
  color: white;
}

.cancelButton {
  background-color: white;
  border: 2px solid #28a745;
  color: #28a745;
}

.saveButton:disabled,
.cancelButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
@media (max-width: 400px) {
  .section {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
  }

  .sectionHeader {
    margin-bottom: 15px;
  }

  .viewGrid,
  .editGrid {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .infoField {
    width: 100%;
  }

  .viewGrid > * {
    width: 100%;
    padding: 12px 0;
  }

  .viewGrid > *:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
  }

  .saveButton,
  .cancelButton {
    width: 100%;
  }
}
