.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 48px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #00000033;
}

.message {
  font-family: "YekanBakhMedium";
  font-weight: 500;
  font-size: 16px;
  color: #696969;
  line-height: 1.8;
}

.btn {
  font-family: "YekanBakhMedium";
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid #28a745;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s;
  background-color: #28a745;
  color: #ffffff;
}
@media (max-width: 400px) {
  .empty {
    gap: 12px;
    padding: 32px 16px;
    border-radius: 12px;
  }

  .empty svg {
    width: 48px;
    height: 48px;
  }

  .message {
    font-family: "YekanBakhMedium";
    font-size: 13px;
    font-weight: 500;
    line-height: 1.8;
    padding: 0 8px;
  }

  .btn {
    width: 100%;
    max-width: 220px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 10px;
  }
}
