.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  gap: 48px;
  padding: 24px 120px;
  max-width: 1440px;
  margin: 0 auto;
}
.textBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 0 150px 0;
}

.title {
  font-family: "YekanBakhMedium";
  font-weight: 600;
  font-size: 36px;
  color: #282828;
}
.description{
    font-family: "YekanBakhMedium";
  font-weight: 600;
  font-size: 24px;
  color: #282828;
}

