* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- Iran Yekan Web Fonts --- */
@font-face {
  font-family: "iranyekanwebregular";
  src: url("./fonts/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: "iranyekanwebmedium";
  src: url("./fonts/iranyekanwebmedium.woff") format("woff");
}

/* --- Vazirmatn Fonts (TTF) --- */
@font-face {
  font-family: "Vazirmatn-Thin";
  src: url("./fonts/Vazirmatn-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-ExtraLight";
  src: url("./fonts/Vazirmatn-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-Light";
  src: url("./fonts/Vazirmatn-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("./fonts/Vazirmatn-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("./fonts/Vazirmatn-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-SemiBold";
  src: url("./fonts/Vazirmatn-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("./fonts/Vazirmatn-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-ExtraBold";
  src: url("./fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn-Black";
  src: url("./fonts/Vazirmatn-Black.ttf") format("truetype");
}

/* --- Yekan Bakh Fonts --- */
@font-face {
  font-family: "YekanBakhMedium";
  src: url("./fonts/YekanBakhMedium.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhBold";
  src: url("./fonts/YekanBakhBold.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhHeavy";
  src: url("./fonts/YekanBakhHeavy.woff") format("woff");
}