.container {
  max-width: 1188px;
  margin: 0 auto;
  padding: 48px 16px;
  font-family: Tahoma, sans-serif;
  direction: rtl;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 96px;
}

.contentWrapper {
  flex: 1;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  font-family: "YekanBakhMedium";
  font-size: 2rem;
  font-weight: 800;
  color: #282828;
  margin-bottom: 24px;
}

.description {
  font-family: "Vazirmatn-Regular";
  color: #4b5563;
  line-height: 2;
  text-align: justify;
  font-size: 16px;
}
.supportBanner {
  background-color: #717d8a;
  color: white;
  padding: 32px;
  border-radius: 8px;
  text-align: right;
  margin: 40px 0;
}

.supportTitle {
  font-family: "Vazirmatn-SemiBold";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.supportText {
  font-family: "YekanBakhMedium";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}

.phoneNumber {
  color: #ffc107;
  font-weight: bold;
  font-size: 1.1rem;
}

@media (max-width: 400px) {
  .container {
    max-width: 333px;
    width: 100%;
    padding: 24px 0 60px;
  }

  .section {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
  }

  .section:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .contentWrapper {
    width: 100%;
  }

  .imageWrapper {
    width: 100%;
  }

  .imageWrapper img {
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 22px;
    line-height: 1.6;
    margin: 20px 0 16px;
    text-align: right;
  }

  .description {
    font-size: 14px;
    line-height: 2;
    text-align: justify;
  }

  .supportBanner {
    margin: 24px 0 40px;
    padding: 20px 16px;
    border-radius: 10px;
  }

  .supportTitle {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .supportText {
    font-size: 14px;
    line-height: 2;
  }

  .phoneNumber {
    font-size: 16px;
  }
  .image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
