.container {
  display: flex;
  /* align-items: center; */
  gap: 48px;
  width: 100%;
  padding: 30px 10px 15px;
}

.textBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Vazirmatn-ExtraBold";
  font-weight: 800;
  font-size: 40px;
  line-height: 156%;
  letter-spacing: 0%;
  text-align: right;
}

.brand {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 40px;
  color: #28a745;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #28a745 0%, #10411b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper img {
  object-fit: contain;
}

.slideTitle {
  font-family: "Vazirmatn-Medium";
  font-weight: 500;
  font-size: 24px;
}

.description {
  font-family: "iranyekanwebregular";
  font-weight: 400;
  font-size: 20px;
  line-height: 220.00000000000003%;
  letter-spacing: 0%;
  text-align: justify;
  color: #282828;
}

.imageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.collage {
  position: relative;
  width: 550px;
  height: 479px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.collage img {
  position: absolute;
  border-radius: 24px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.imageMain {
  z-index: 4;
  right: 0;
  transform: scale(1) translateX(0);
  opacity: 1;
}

.imageBehind1 {
  z-index: 3;
  right: 80px;
  transform: scale(0.85);
  opacity: 1;
}

.imageBehind2 {
  z-index: 2;
  right: 150px;
  transform: scale(0.7);
  opacity: 1;
}

.imageBehind3 {
  z-index: 1;
  right: 200px;
  transform: scale(0.6);
  opacity: 1;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.arrowBtn {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #10411b;
  cursor: pointer;
  transition: color 0.2s;
}
.arrowBtn:disabled {
  color: #10411B80; 
  cursor: not-allowed; 
  opacity: 0.5;
}
.arrowBtn:not(:disabled):hover {
  color: #28a745;
}
.counter {
  font-family: "YekanBakhMedium";
  font-size: 16px;
}
