.pageWrapper {
  background-color: #f3f3f3;
  height: 100vh;
  padding: 30px 0 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cardContainer {
  background-color: #ffffff;
  padding: 30px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1188px;
  width: 100%;
  height: 427px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #00000033;
}

.mainSection {
  display: flex;
  gap: 20px;
}

.image {
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  width: 397px;
  height: 265px;
}
.contentLeft {
  width: 100%;
}

.titleRow {
  margin-bottom: 50px;
  width: 100%;
}

.title {
  font-family: "YekanBakhBold";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #000000;
  margin-bottom: 30px;
  padding-top: 8px;
}

.duration {
  font-family: "Vazirmatn-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  margin: 0 0 33px;
  color: #282828;
}
.desktopDetailInfo {
  display: block;
}

.mobileDetailInfo {
  display: none;
}

@media (max-width: 400px) {
  .desktopDetailInfo {
    display: none;
  }

  .mobileDetailInfo {
    display: block;
  }

  .contentLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }
  .pageWrapper {
    height: auto;
    min-height: 100vh;
    padding: 15px 0 40px;
    background-color: #ffffff;
  }

  .cardContainer {
    max-width: 333px;
    height: auto;
    padding: 15px 12px;
    gap: 12px;
    border: none;
    flex-direction: column;
  }

  .card {
    min-width: 280px;
    width: 100%;
    flex: 0 0 100%;
  }

  .tours {
    grid-template-columns: 1fr;
  }

  .mainSection {
    flex-direction: column;
    gap: 12px;
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 397 / 265;
  }

  .title {
    font-size: 22px;
    margin-bottom: 6px;
    text-align: right;
  }
  .titleRow {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .duration {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0 0 12px;
    color: #282828;
    text-align: right;
  }
}
