.container {
  display: flex;
  gap: 20px;
  max-width: 1188px;
  margin: 30px auto 120px;
  padding: 0 24px;
  direction: rtl;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

